section.advantages#advantages
  .container
    .row
      .col-md-12
        h2
          | Преимущества квартплата
          span PRO
    .row
      .col-md-5
        .advantages-item.clearfix
          .col-md-2.col-sm-1.col-xs-2
            .advantages-item-img
              img(src="./images/icons/accounting.svg")
          .col-md-10.col-sm-11.col-xs-10
            h4 Учет жилого и нежилого фонда
            p Единая база данных о жилом и нежилом фонде, проживающем населении, арендаторах и т.д.
      .col-md-5.col-md-offset-1
        .advantages-item.clearfix
          .col-md-2.col-sm-1.col-xs-2
            .advantages-item-img
              img(src="./images/icons/registration.svg")
          .col-md-10.col-sm-11.col-xs-10
            h4 Регистрация оплат населения
            p Удобные формы ручной регистрации оплат, автоматизированная загрузка информации об оплатах от сборщиков платежей. Использование внешних программ для приема платежей с загрузкой оплат в систему
    .row
      .col-md-5
        .advantages-item.clearfix
          .col-md-2.col-sm-1.col-xs-2
            .advantages-item-img
              img(src="./images/icons/secure.svg")
          .col-md-10.col-sm-11.col-xs-10
            h4 Защищенный доступ к данным
            p Доступ к данным только по паролю, аудит действий пользователя, автоматическое создание архивов базы
      .col-md-5.col-md-offset-1
        .advantages-item.clearfix
          .col-md-2.col-sm-1.col-xs-2
            .advantages-item-img
              img(src="./images/icons/integration.svg")
          .col-md-10.col-sm-11.col-xs-10
            h4 Интеграция с внешними системами
            p Полностью автоматизированный обмен данными с внешними информационными системами
    .row
      .col-md-5
        .advantages-item.clearfix
          .col-md-2.col-sm-1.col-xs-2
            .advantages-item-img
              img(src="./images/icons/allinone.svg")
          .col-md-10.col-sm-11.col-xs-10
            h4 Вся информация в одном месте
            p Доступ к данным только по паролю, аудит действий пользователя, автоматическое создание архивов базы
      .col-md-5.col-md-offset-1
        .advantages-item.clearfix
          .col-md-2.col-sm-1.col-xs-2
            .advantages-item-img
              img(src="./images/icons/reports.svg")
          .col-md-10.col-sm-11.col-xs-10
            h4 Только самые нужные отчеты
            p Получение информации из системы по одной кнопке. Если нет нужного отчёта, то закажите его нам или создайте сами
