header#home
  .container
    .row
      .col-md-12
        h1 Квартплата 
          span PRO
        h4 Комплексное решение для управляющих компаний и ТСЖ 
      .col-lg-6.col-md-6.col-md-push-0.col-md-offset-0.col-sm-7.col-sm-push-5.col-sm-offset-0.col-xs-10.col-xs-offset-1
        p Полная автоматизация работы бухгалтера по расчету начислений по жилищно-коммунальным услугам для управляющих компаний, товариществ собственников жилья, поставщиков жилищных и коммунальных услуг.
      .col-lg-6.col-md-6.col-md-pull-0.col-sm-5.col-sm-pull-7.col-sm-offset-0.hidden-xs
        img(src="./images/monitor.png" alt="КвартплатаPro")
