doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
      
    title Квартплата PRO
    
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
      
    meta(property="og:title", content="Квартплата PRO")
    meta(property="og:url", content="website")
    meta(property="og:description", content="Комплексное решение для управляющих компаний и ТСЖ.")
    meta(property="og:locale" content="ru_RU")
    meta(property="og:image", content="images/og-image.jpg")
    meta(property="og:image:type", content="image/jpeg")
    meta(property="og:image:width", content="412")
    meta(property="og:image:height", content="428")
      
    link(rel="apple-touch-icon", sizes="180x180", href="images/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="images/favicon-16x16.png")
    link(rel="manifest", href="images/manifest.json")
    link(rel="mask-icon", href="images/safari-pinned-tab.svg", style="color: #5bbad5")
    meta(name="theme-color", content="#ffffff")

    <!-- Chrome, Firefox OS and Opera -->
    meta(name="theme-color" content="000")
    <!-- Windows Phone -->
    meta(name="msapplication-navbutton-color" content="#000")
    <!-- iOS Safari -->
    meta(name="apple-mobile-web-app-status-bar-style" content="#000")
