section.integration#integration
  .container
    .row
      .col-md-12
        h2 Интеграция
      .col-md-12
        h3 
          | КВАРТПЛАТА 
          span PRO 
          | может работать с другими системами
    .row
      .col-md-5
        .integration-item
          h4 Агенты по сбору платежей
          ul
            li <i class="fa fa-check-circle" aria-hidden="true"></i> Банки
            li <i class="fa fa-check-circle" aria-hidden="true"></i> Почта
            li <i class="fa fa-check-circle" aria-hidden="true"></i> Система "Город"
            li <i class="fa fa-check-circle" aria-hidden="true"></i> QIWI
            li <i class="fa fa-check-circle" aria-hidden="true"></i> Киберплат
            li &hellip; и многое другое
      .col-md-5.col-md-offset-1
        .integration-item
          h4 Портал Государственных Услуг
          p Информация о лицевых счетах в личном кабинете на портали и вмобильном приложении. Передача через портал показаний квартирных приборов учёта, онлайн оплата
    .row
      .col-md-5
        .integration-item
          h4 Государственные информационные системы 
          p ГИС ЖКХ, реформа ЖКХ, Фонды капитального ремонта, информационные системы фондов социальной защиты и т.п
      .col-md-5.col-md-offset-1
        .integration-item
          h4 Оперативное 	информирование абонентов
          p SMS-рассылка о значимых событиях в деятельности УК, поступлении оплат, учёте показаний ПУ, автодозвон должникам осумме долга
    .row
      .col-md-5
        .integration-item
          h4 Бухгалтерские системы (1С, Парус)
          p Синхронизация справочников и данных, информация о начислениях и расщиплениях в системе бухгалтерского учета
      .col-md-5.col-md-offset-1
        .integration-item
          h4 Учет энергоресурсов (АСКУЭ)
          p Автоматизированный сбор показателей индивидуальных и общедомовых приборов учёта для расчёта начислений

                  
                  
          
