#my-menu
  ul.menu
    li
      a(href="#home") 
        i.fa.fa-home
    li 
      a(href="#solutions") Решения
    li 
      a(href="#integration") Интеграция
    li 
      a(href="#advantages") Преимущества
    li 
      a(href="#rates") Тарифы
    li 
      a(href="#contacts") Контакты
