section.mobile#mobiles
  .container
    .row
      .col-md-12
        h2 Мобильное приложение
        p Удобный доступ к информации по лицевому счету для жильцов, онлайн оплата, передачи показаний квартирных приборов учета. подача заявок специалистам управляющей компании и многое другое.
    .row
      .mobile-images
        .col-md-4.col-sm-4
          img(src="./images/mobile_1.png" alt="mobile_1")
        .col-md-4.col-sm-4
          img(src="./images/mobile_2.png" alt="mobile_2")
        .col-md-4.col-sm-4
          img(src="./images/mobile_3.png" alt="mobile_3")
