section.portal
  .container
    .row
      .col-md-12
        h2 Личный кабинет
        p Интернет сайт управляющей организации, отвечающий требованиям федереального законодательства по раскрытию информации с функциями онлайн оплаты, приема показаний приборов учета, голосовании и многое другое.
      .col-md-6.col-sm-12.col-xs-12
        h3  Личный кабинет сотрудника
        a(href="./images/lk_employee.jpg" data-lightbox="lk_employee" data-title="Личный кабинет сотрудника")
          img(src="./images/lk_employee.jpg" alt="employee")
      .col-md-6.col-sm-12.col-xs-12
        h3  Личный кабинет жильца
        a(href="./images/lk_client.jpg" data-lightbox="lk_client" data-title="Личный кабинет жильца")
          img(src="./images/lk_employee.jpg" alt="client")
