section.rates#rates
  .container
    .row
      .col-md-12
        h2 Тарифы
        h3 Для управляющих компаний, ТСЖ, ТСН
      .col-md-3.col-sm-6.col-xs-6
        .rates-item
          .rates-item-type
            | до 
            span 500
            br 
            | лицевых счетов
          .rates-item-price
            span 7 
            | рублей 
            br
            | за лицевой счет в месяц
      .col-md-3.col-sm-6.col-xs-6
        .rates-item
          .rates-item-type
            | до 
            span 5000
            br 
            | лицевых счетов
          .rates-item-price
            span 5 
            | рублей 
            br
            | за лицевой счет в месяц
      .col-md-3.col-sm-6.col-xs-6
        .rates-item
          .rates-item-type
            | до 
            span 10000
            br 
            | лицевых счетов
          .rates-item-price
            span 4 
            | рубля
            br
            | за лицевой счет в месяц
      .col-md-3.col-sm-6.col-xs-6
        .rates-item
          .rates-item-type
            | от 
            span 10000
            br 
            | лицевых счетов
          .rates-item-price
            span 3 
            | рубля 
            br
            | за лицевой счет в месяц
      .col-md-12
        h3 Для поставщиков услуг
      .col-md-3.col-sm-6.col-xs-6
        .rates-item
          .rates-item-type
            | до 
            span 10000
            br 
            | лицевых счетов
          .rates-item-price
            span 3 
            | рубля 
            br
            | за лицевой счет в месяц
      .col-md-3.col-sm-6.col-xs-6
        .rates-item
          .rates-item-type
            | от 
            span 10000
            br 
            | лицевых счетов
          .rates-item-price
            span 2 
            | рубля 
            br
            | за лицевой счет в месяц
    
          
