section.solutions#solutions
  .container
    .row
      .col-md-12
        h2 Решения
      .col-md-12
        .solutions-item.clearfix
          h4 Расчет начислений и прием платежей за ЖКУ для населения и организаций
          img(src="./images/icons/coins.svg")
          p Полностью автоматизированный расчет начислений, пеней, штрафов, формирование счетов на оплату с QR кодом, прием платежей с использованием ККМ и интеграция с системами агентов по сбору платежей.
        .solutions-item.clearfix
          h4 Паспортный и миграционный учет населения в жилом и нежилом фонде
          img(src="./images/icons/folder.svg")
          p Единая база собственников, нанимателей, арендаторов, паспортный учет проживающих согласно требованиями УФМС, автоматизированное формирование справок для абонентов.
        .solutions-item.clearfix
          h4 Контроль объемов потребления коммунальных ресурсов
          img(src="./images/icons/cart.svg")
          p Ведение реестра приборов учета, их показаний. Контроль сроков эксплуатации и проверки. Анализ потребления коммунальных ресурсов с целью выявления фактов хищения и многое другое.
        .solutions-item.clearfix
          h4 Аналатичически-отчетная схема
          img(src="./images/icons/graph.svg")
          p Автоматическое получение различной бухгалтерской и управленческой отчетности, справок, уведомлений и много другое.
