section.web-site
  .container
    .row
      .col-md-12
        h2 Web сайт
        p Интернет сайт управляющей организации, отвечающий требованиям федереального законодательства по раскрытию информации с функциями онлайн оплаты, приема показаний приборов учета, голосовании и многое другое.
        a(href="./images/website.jpg" data-lightbox="website" data-title="Website")
          img(src="./images/website.jpg" alt="website")  
