doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=deivce-width')
    title
      block title
        Index page
  body
    block main
      h1 Главная страница
      img(src=require("./webpack.svg") width="100")
