include includes/head.pug

body
  .preloader(style={'background-color': '#ffffff', 'background-repeat': 'no-repeat', 'background-position': 'center', 'position': 'fixed', 'width': '100%', 'height': '100%', 'z-index': '1000'})
#mm-page
  include includes/top-line.pug
  include includes/header.pug
  include includes/solutions.pug
  include includes/integration.pug
  include includes/advantages.pug
  include includes/mobile.pug
  include includes/website.pug
  include includes/portal.pug
  include includes/rates.pug
  include includes/contacts.pug
  include includes/footer.pug
